<% layout('layout') -%>
<style>
    #container #sketch-holder, #overlay {
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        display: none;
        font-size: large;
        font-weight: 500;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>

<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">
        <h2>Canvas Paranoia</h2>
        <div class="small mt-3">&bull; A simulator of random acrylic gradient texture painted on canvas material.
        </div>
    </div>

    <% include templates/alert.ejs %>

    <div class="row justify-content-sm-center mt-2">
        <div class="col-sm-auto">
            <div id="fullscreen">
                <div id="overlay"></div>
                <div id="sketch-holder"></div>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-light" type="button" onclick="generateNew()">
                        Generate New &raquo;
                    </button>
                    <button class="btn btn-sm btn-light" type="button" onclick="generateFullScreen()">
                        Generate Full Screen &raquo;
                    </button>
                    <button class="btn btn-sm btn-light" type="button" onclick="download()">
                        Download &raquo;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/lib/canvasParanoiaGenerator.js"></script>