<% layout('layout') -%>
    <% script('https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js') -%>

    <div class="container">
        <div class="pb-2 mt-4 mb-4 border-bottom">
            <h2>Crypto Blocks Collection</h2>
            <div class="small mt-3">&bull; A generative NFT art collection of digital blocks
                processing in the blockchain domain.<br>
                &bull; Each with unique properties combination.<br>
                &bull; Available for purchase at <a href="https://opensea.io/collection/crypto-blocks-collection"
                    target="blank">Opensea.io</a>
            </div>
        </div>

        <% include templates/alert.ejs %>

        <div class="row justify-content-sm-center sketch-container mt-2">
            <div class="col-sm-auto" id="sketch-holder"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-light" type="button" onclick="generateNew()">
                Generate New NFT &raquo;
            </button>
        </div>
    </div>
    <script src="/lib/cryptoBlocksGenerator.js"></script>