<% layout('layout') -%>
    <style>
        .card-img-top {
            height: 250px;
        }
    </style>

    <div class="container">
        <div class="pb-2 mt-5 mb-4 border-bottom">
            <h2>Moon (阿滿) personal website</h2>
            <div class="small mt-4 mb-4">&bull; This site serve as my personal web dev sandbox.<br>
                &bull; Projects I've done that I still consider interesting.
            </div>
        </div>

        <div class="card-deck">
            <div class="card" style="max-width: 250px;">
                <a href="/sudoku">
                    <img src="/images/Pen-Sudoku.jpg" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Sudoku</h5>
                    <p class="card-text">A hobby experimental Sudoku game developed during covid-19 lockdown.</p>

                </div>
                <div class="card-footer text-center">
                    <a href="/sudoku" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/crypto-blocks">
                    <img src="/images/card_thumbnail_crypto.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Crypto Block</h5>
                    <p class="card-text">A generative NFT art collection of digital blocks
                        processing in the blockchain domain.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/crypto-blocks" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
        </div>
    </div>