<% layout('layout') -%>
    <style>
        .card-img-top {
            height: 250px;
        }
    </style>

    <div class="container">
        <div class="pb-2 mt-5 mb-4 border-bottom">
            <h2>Moon (阿滿) personal website</h2>
            <div class="small mt-4 mb-4">&bull; This site serve as my personal web dev sandbox.<br>
                &bull; Projects I've done that I still consider interesting.
            </div>
        </div>

        <div class="card-deck">
            <div class="card" style="max-width: 250px;">
                <a href="/sudoku">
                    <img src="/images/card_thumbnail_sudoku.jpg" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Sudoku</h5>
                    <p class="card-text">A hobby experimental Sudoku game developed during covid-19 lockdown.</p>

                </div>
                <div class="card-footer text-center">
                    <a href="/sudoku" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/crypto-blocks">
                    <img src="/images/card_thumbnail_crypto.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Crypto Block</h5>
                    <p class="card-text">A generative NFT art collection of digital blocks
                        processing in the blockchain domain.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/crypto-blocks" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/skylines-end">
                    <img src="/images/card_thumbnail_skyline.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Skyline's End</h5>
                    <p class="card-text">A collection of algorithmically generated interactive NFT sets it's view in dusk of a city skyline.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/skylines-end" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/fur-out">
                    <img src="/images/card_thumbnail_furout.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Fur Out</h5>
                    <p class="card-text">Just give me some fur please.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/fur-out" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card" style="max-width: 250px;">
                <a href="/snake-game">
                    <img src="/images/card_thumbnail_snake.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Snake Game</h5>
                    <p class="card-text">Self made replica of a classic game.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/snake-game" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/flow-field">
                    <img src="/images/card_thumbnail_flowfield.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Flow Field</h5>
                    <p class="card-text">Perlin noise flow of particles.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/flow-field" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
            <div class="card" style="max-width: 250px;">
                <a href="/canvas-paranoia">
                    <img src="/images/card_thumbnail_flowfield.png" class="card-img-top" alt="">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Canvas Paranoia</h5>
                    <p class="card-text">A simulator of random acrylic gradient texture painted on canvas material.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/canvas-paranoia" class="btn btn-outline-primary">Go</a>
                </div>
            </div>
        </div>
    </div>