<!DOCTYPE html>
<html lang="en">

<head>
    <%- include templates/head %>
    <%- scripts %>
</head>

<body>
    <% include templates/modal-login.ejs %>
    <% include templates/header.ejs %>
    <%- body -%>
    <% include templates/footer.ejs %>
    <% include templates/includes.ejs %>
</body>

</html>