<% layout('layout') -%>

<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">
        <h2>阿滿 - 太空站 (Space Station)</h2>
        <div class="small mt-3">&bull; Released my first solo album on 2014.<br>
            &bull; Self lyric & compose, arrange, mixing, producing.
        </div>
    </div>

    <% include templates/alert.ejs %>

    <div class="d-flex justify-content-sm-center">
        <iframe style="border-radius:12px; max-width: 500px;"
            src="https://open.spotify.com/embed/album/18FCvfm2DQcIgi8Y30XRbK?utm_source=generator&theme=0" 
            width="100%" height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
        </iframe>
    </div>
</div>