<% layout('layout') -%>

    <div class="container">
        <div class="pb-2 mt-4 mb-4 border-bottom">
            <h2>New NFT Collection</h2>
            <div class="small mt-3">&bull; Mint new NFT art collection with custom smart contract.<br>
                &bull; Each with unique properties combination.<br>
                &bull; Secondary market available for purchase at <a href="https://opensea.io/collection/crypto-blocks-collection"
                    target="blank">Opensea.io</a>
            </div>
        </div>

        <% include templates/alert.ejs %>

        <div class="row justify-content-sm-center sketch-container mt-2">
            <div class="col-sm-auto" id="sketch-holder"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-light" type="button" onclick="generateNew()">
                Generate New NFT &raquo;
            </button>
        </div>
    </div>
    
    <% if (tokenHash && tokenHash != '0x0000000000000000000000000000000000000000000000000000000000000000') { %>
    <script>
        const tokenHash = '<%= tokenHash %>';
        const tokenAttributes = <%- JSON.stringify(tokenAttributes) %>;
        const fullScreen = false;
    </script>
    <script src="/lib/new-nft-generator.js"></script>
    <% } %>