<% layout('layout') -%>

    <!-- Modal -->
    <div class="modal fade" id="sudokuCompleteModal" tabindex="-1" role="dialog"
        aria-labelledby="sudokuCompleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sudokuCompleteModalTitle">...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="sudokuCompleteModalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveResultButton">Save Record</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>Sudoku</h2>
            <div class="small mt-2">&bull; Select empty box.<br>
                &bull; Key-in/click/drag your numbers.</div>
        </div>

        <% include templates/alert.ejs %>


        <div class="row justify-content-sm-left sketch-container mt-2">
            <div class="col-sm-auto" id="sketch-holder"></div>
        </div>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item btn-sm btn-light" type="button" onclick="genNewQuestion()">&bull; New Game</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item btn-sm btn-light" type="button" onclick="resetQuestion()">&bull; Reset</button>
                <button class="dropdown-item btn-sm btn-light" type="button" onclick="showAnswer()">&bull; Show Answer</button>
                <button class="dropdown-item btn-sm btn-light" type="button" onclick="hintNextStep()">&bull; Hint Next Step</button>
            </div>
        </div>
    </div>
    <script src="/lib/sudokuGenerator.js"></script>