<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #f5f5f5;">
    <a class="navbar-brand" href="/">
        <img src="/images/brand_image.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Moon Program
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item"></li>
                <a class="nav-link <% if(pageName === 'sudoku'){%>active<%}%>" href="/sudoku">
                    Sudoku
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'crypto-blocks'){%>active<%}%>" href="/crypto-blocks">
                    Crypto Blocks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'skylines-end'){%>active<%}%>" href="/skylines-end">
                    Skyline's End
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'fur-out'){%>active<%}%>" href="/fur-out">
                    Fur Out
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'snake-game'){%>active<%}%>" href="/snake-game">
                    Snake Game
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'flow-field'){%>active<%}%>" href="/flow-field">
                    Flow Field
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'canvas-paranoia'){%>active<%}%>" href="/canvas-paranoia">
                    Canvas Paranoia
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'emoji-scream'){%>active<%}%>" href="/emoji-scream">
                    Emoji Scream
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <% if(pageName === 'domain-warping'){%>active<%}%>" href="/domain-warping">
                    Domain Warping
                </a>
            </li>
        </ul>

        <% if (user) { %>
            <ul class="navbar-nav" id="acct-nav-holder">
                <li class="nav-item">
                    <a class="nav-link <% if(pageName === 'acct'){%>active<%}%>" href="/acct/signup">Sign up</a>
                </li>
                <li class="nav-item mt-3 mt-md-0">
                    <a type="button" class="btn btn-outline-success" href="/acct/signout">
                        Sign out
                    </a>
                </li>
            </ul>
        <% } else { %>
        <ul class="navbar-nav" id="acct-nav-holder">
            <li class="nav-item mt-3 mt-md-0">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#loginModal">
                    Admin Login
                </button>
            </li>
        </ul>
        <% } %>

    </div>
</nav>