<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #f5f5f5;">
    <a class="navbar-brand" href="/">
        <img src="/images/brand_image.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Moon Program
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Generative Art
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item <% if(pageName === 'domain-warping'){%>active<%}%>" href="/domain-warping">
                        Domain Warping
                    </a>
                    <a class="dropdown-item <% if(pageName === 'emoji-scream'){%>active<%}%>" href="/emoji-scream">
                        Emoji Scream
                    </a>
                    <a class="dropdown-item <% if(pageName === 'canvas-paranoia'){%>active<%}%>" href="/canvas-paranoia">
                        Canvas Paranoia
                    </a>
                    <a class="dropdown-item <% if(pageName === 'flow-field'){%>active<%}%>" href="/flow-field">
                        Flow Field
                    </a>
                    <a class="dropdown-item <% if(pageName === 'fur-out'){%>active<%}%>" href="/fur-out">
                        Fur Out
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NFT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item <% if(pageName === 'skylines-end'){%>active<%}%>" href="/skylines-end">
                        Skyline's End
                    </a>
                    <a class="dropdown-item <% if(pageName === 'crypto-blocks'){%>active<%}%>" href="/crypto-blocks">
                        Crypto Blocks
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item <% if(pageName === 'snake-game'){%>active<%}%>" href="/snake-game">
                        Snake Game
                    </a>
                    <a class="dropdown-item <% if(pageName === 'sudoku'){%>active<%}%>" href="/sudoku">
                        Sudoku
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Music Albums
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item <% if(pageName === 'moon-negativeeffect'){%>active<%}%>" href="/music-albums/moon-negativeeffect">
                        阿滿 - 負作用 (Negative Effect)
                    </a>
                    <a class="dropdown-item <% if(pageName === 'moon-spacestation'){%>active<%}%>" href="/music-albums/moon-spacestation">
                        阿滿 - 太空站 (Space Station)
                    </a>
                    <a class="dropdown-item <% if(pageName === 'mage_era-immortal'){%>active<%}%>" href="/music-albums/mage_era-immortal">
                        Mage Era - Immortal
                    </a>
                </div>
            </li>
        </ul>

        <% if (user) { %>
            <ul class="navbar-nav" id="acct-nav-holder">
                <li class="nav-item">
                    <a class="nav-link <% if(pageName === 'acct'){%>active<%}%>" href="/acct/signup">Sign up</a>
                </li>
                <li class="nav-item mt-3 mt-md-0">
                    <a type="button" class="btn btn-outline-success" href="/acct/signout">
                        Sign out
                    </a>
                </li>
            </ul>
        <% } else { %>
            <ul class="navbar-nav" id="acct-nav-holder">
                <li class="nav-item mt-3 mt-md-0">
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                        data-target="#loginModal">
                        Admin Login
                    </button>
                </li>
            </ul>
        <% } %>

    </div>
</nav>